
img{
  width: 25%;
}
.layout{
  overflow-y:hidden;
}
.content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  border: 1px;
  background-color: var(--branco);
}

.header{
  padding-left: 2%;
  border-bottom: 10px solid var(--azulEscuro);

}
.list-table{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
table{
  text-align: center;
  margin-left:1%;
  border-collapse: collapse;
  width: 90%;
}
th{
  font-size: clamp(15px, 5vh, 30px);
  padding: 1%;
  width: 25%;
  font-weight: lighter;
}
td{
  width: 25%;
  font-size: clamp(10px, 4vh, 25px);
  padding: 15px;
}
.titulo-list th{
  display: flex;
  width: 20%;
}
.titulo-list th:nth-child(4){
  display: flex;
  justify-content: center;
}
table tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
tbody{
  width: 100%;
}
tbody tr:nth-child(even){
  background-color: var(--cinza);
}
td{
  width: 25%;
}
tbody tr{
  width: 100%;
  cursor: pointer;
}
tbody tr > td:nth-child(1){
  font-weight: bolder;
  width: 10%;
}
tbody tr:hover > td:nth-child(1){
  color: var(--azulClaro);
}
.buttons{
  padding: 0;
}
.actionButton{
  width: 80%;
  min-height: 40%;
  margin: 2%;
}
.Filtro{
  margin-left: 5px;
}
.Pesquisar {
  margin-right: 10px;
}
.hello{
  margin-top: 20px;
  padding-right: 50px;
  font-size: clamp(10px, 4vh, 25px);

}

.cancel{
  font-size: clamp(2px, 1vh, 25px);

}
