<app-menu-admin />
<div class="layout">
  <div class="content">
    <div class="header">
      <h1 class="hello">Roupas do sistema</h1>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Roupa</mat-label>
          <input matInput placeholder="Ex.Camisa" name="nome" [(ngModel)]="nome" />
        </mat-form-field>
        <button
          mat-fab
          color="primary"
          class="Pesquisar"
          (click)="pesquisarPorNome()"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button
          mat-fab
          routerLink="/inserir-roupa"
          color="primary"
          class="Adicionar"
          >
          <mat-icon>add</mat-icon>
        </button>
      </form>
    <div class="list-table">
      <table>
        <tr class="titulo-list">
          <th>Tipo</th>
          <th>Tempo (dias)</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
        <tbody class="table-body">
          <tr *ngFor="let roupa of roupas">
            <td>{{ roupa.tipo }}</td>
            <td>{{ roupa.tempo}}</td>
            <td>{{ roupa.precoRoupa}}</td>
            <td>
              <button
                mat-raised-button
                color="primary"
                [routerLink]="['/editar-roupa', roupa.id]"
              >
                Editar
              </button>
              <button mat-raised-button color="warn" (click)="excluirRoupa($event,roupa)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
