<app-menu-lateral />
<div class="layout">
  <div class="content">
    <div class="header">
      <h1 >Histórico de pedidos</h1>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Pesquisar Pedido</mat-label>
          <input matInput placeholder="Ex.11" name="numero" [(ngModel)]="num" />
        </mat-form-field>
        <button
          mat-fab
          color="primary"
          class="Pesquisar"
          (click)="pesquisarPorNumero(num)"
        >
          <mat-icon>search</mat-icon>
        </button>
      </form>
      <button
        mat-raised-button
        color="primary"
        class="Filtro"
        (click)="filtroStatus('Em Aberto')"
      >
        Em Aberto
      </button>
      <button
        mat-raised-button
        color="primary"
        class="Filtro"
        (click)="filtroStatus('Rejeitado/Cancelado')"
      >
        Rejeitado/Cancelado
      </button>
      <button
        mat-raised-button
        color="primary"
        class="Filtro"
        (click)="filtroStatus('Recolhido')"
      >
        Recolhido
      </button>
      <button
        mat-raised-button
        color="primary"
        class="Filtro"
        (click)="filtroStatus('Aguardando Pagamento')"
      >
        Aguardado Pagamento
      </button>
      <button
        mat-raised-button
        color="primary"
        class="Filtro"
        (click)="filtroStatus('Pago')"
      >
        Pago
      </button>
      <button
        mat-raised-button
        color="primary"
        class="Filtro"
        (click)="filtroStatus('Finalizado')"
      >
        Finalizado
      </button>
      <button
        mat-raised-button
        color="primary"
        class="Filtro"
        (click)="filtroStatus('Todos')"
      >
        Todos
      </button>
      <h2></h2>
    </div>
    <div class="list-table">
      <table>
        <tr>
          <th>Pedido</th>
          <th>Status</th>
          <th>Data</th>
          <th>Hora</th>
          <th>Valor</th>
          <th>Ações</th>
        </tr>
        <tbody>
          <tr *ngFor="let pedido of pedidos">
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.status }}</td>
            <td>{{ pedido.data }}</td>
            <td>{{ pedido.hora }}</td>
            <td>{{ pedido.valor }}</td>
            <td class="buttons">
              <button
                class="actionButton"
                mat-raised-button
                color="primary"
                *ngIf="pedido.status === 'Aguardando Pagamento'"
                (click)="
                  pedido.status === 'Aguardando Pagamento'
                    ? redirectPayment(pedido.id.toString())
                    : null
                "
              >
                Pagar
              </button>
              <button
                class="actionButton"
                mat-raised-button
                color="primary"
                *ngIf="pedido.status != 'Aguardando Pagamento'"
              >
                Visualizar
              </button>
              <app-cancelDialog class="actionButton"
                *ngIf="pedido.status === 'Em Aberto'"
              ></app-cancelDialog>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
