<div class="layout">
  <div class="navigator">
    <div class="nav">
      <a class="newOrder" href="/realizar-pedido"
        ><p>Novo Pedido</p>
        <img src="../../assets/img/cart.svg"
      /></a>
    </div>
    <div class="nav">
      <a class="searchOrder" href="/listar-pedido"
        ><p>Procurar Pedido</p>
        <img src="../../assets/img/search.svg"
      /></a>
    </div>
    <div class="nav">
      <a class="profile"
        ><p>Cadastro</p>
        <img src="../../assets/img/profile.svg" />
      </a>
    </div>
    <div class="nav">
      <a class="logout"
        ><p>Sair</p>
        <img src="../../assets/img/logout.svg"
      /></a>
    </div>
  </div>
  <div class="content">
    <div class="header">
      <h1 class="hello">Olá,</h1>
      <h2 class="amountOpen">Você tem 3 pedidos em aberto</h2>
    </div>
    <div>
      <table>
        <tr>
          <th>Pedido</th>
          <th>Status</th>
          <th>Data</th>
          <th>Valor</th>
        </tr>
        <tbody>
          <tr>
            <td>0001</td>
            <td>Aguardando Pagamento</td>
            <td>10/03/2024</td>
            <td>150,00</td>
          </tr>
          <tr>
            <td>0001</td>
            <td>Aguardando Pagamento</td>
            <td>10/03/2024</td>
            <td>150,00</td>
          </tr>
          <tr>
            <td>0001</td>
            <td>Aguardando Pagamento</td>
            <td>10/03/2024</td>
            <td>150,00</td>
          </tr>
          <tr>
            <td>0001</td>
            <td>Aguardando Pagamento</td>
            <td>10/03/2024</td>
            <td>150,00</td>
          </tr>
          <tr>
            <td>0001</td>
            <td>Aguardando Pagamento</td>
            <td>10/03/2024</td>
            <td>150,00</td>
          </tr>
          <tr>
            <td>0001</td>
            <td>Aguardando Pagamento</td>
            <td>10/03/2024</td>
            <td>150,00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
