<div class="container">
  <app-menu-lateral/>
  <div class="boxSearch">
    <select
    class="inputSearch"
      type="search"
      [formControl] = "queryField"
      placeholder="Digite a roupa que deseja adicionar..."
    >
      <option value="calca">Calça</option>
      <option value="camisa">Camisa</option>
      <option value="meia">Meia</option>
      <option value="cueca">Cueca</option>
      <option value="camiseta">Camiseta</option>
    </select>

    <button
      class="buttonSearch"
      (click)="onSearch()">
      Adicionar
    </button>
  </div>
  <main>
    <aside class="orderDetails">
      <p>Valor total:</p>
      <P>{{valorTotal.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</P>
      <p>Tempo previsto</p>
      <p>{{prazoDeEntrega}} Dias</p>
    </aside>
    <div class="listClothes">
      <div *ngFor="let item of listaPedido" class="boxCard">
      <mat-card class="card">
      <img mat-card-image [src]="'../../assets/img/' + item.roupa.tipo+ '.png'" class="cardImage">
      <mat-card-content mat-card-content class="description">
        <p>{{item.roupa.tipo}}</p>
        <p>Tecido: </p>
        <div class="listTissue">
          <label class="tissue">
            <input type="radio" value="{{item.roupa.tecido[0]}}" [(ngModel)]="item.roupa.tecido[0]"/>
            <p>{{item.roupa.tecido[0]}}</p>
          </label>
          <label class="tissue">
            <input type="radio" value="{{item.roupa.tecido[1]}}" [(ngModel)]="item.roupa.tecido[1]"/>
            <p>{{item.roupa.tecido[1]}}</p>
          </label>
          <label class="tissue">
            <input type="radio" value="{{item.roupa.tecido[2]}}" [(ngModel)]="item.roupa.tecido[2]"/>
            <p>{{item.roupa.tecido[2]}}</p>
          </label>
          <label class="tissue">
            <input type="radio" value="{{item.roupa.tecido[3]}}" [(ngModel)]="item.roupa.tecido[3]"/>
            <p>Outro</p>
          </label>
        </div>
      </mat-card-content >
        <mat-card-actions class="sectionButton">
          <button (click)="addItem(item.roupa.tipo)" class="addItem">
          </button>
          <p>{{item.quantidade}}</p>
          <button (click)="removeItem(item.roupa.tipo)" class="removeItem">
          </button>
        </mat-card-actions>
      </mat-card >
    </div>
    </div>
  </main>
  <div class="buttonsActions">
    <button class="buttonClear"(click)="LimparLista()">Limpar</button>
    <button class="buttonFinish"(click)="FinalizarPedido()">Finalizar pedido</button>
  </div>
</div>
