.container{
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--branco);
}
.boxSearch{
  display: flex;
  align-items: flex-end;
  justify-content:flex-end;
  padding-right: 20%;
  top: 0;
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 1;
}
.inputSearch{
  width: 50%;
  height: 55%;
  border: 4px solid var(--azulEscuro);
  border-radius: 20px 0 0 20px;
  padding-left: 1%;
}
.buttonSearch{
  background-color: var(--azulEscuro);
  border: none;
  color: #ffffff;
  height: 55%;
  width: 8%;
  cursor: pointer;
  font-size: medium;
  border-radius: 0 20px 20px 0;
}
main{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-height: 80%;
}
.orderDetails{
  padding: 1%;
  width: 13%;
  height: 10%;
  background-color: #ffffff;
  border: none;
  margin: 10% 5%;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.orderDetails p:nth-child(1), .orderDetails p:nth-child(3){
  font-size: large;
  font-weight:500;
}
.orderDetails p:nth-child(2), .orderDetails p:nth-child(4){
  font-size: medium;
}
.listClothes{
  width: 70%;
  margin:5% 0;
}
.boxCard{
  width: 100%;
  min-height: 2em;
  border: none;
  margin: 2% 0;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cardImage{
  width: 10%;
  height: 90%;
  border-radius: 8px 0 0 8px;
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
}
.description p {
  margin: 1%;
  font-size: larger;
}
.listTissue{
  display: flex;
  align-items: center;
  height: 15%;
}
.tissue{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--azulEscuro);
  border-radius: 10px;
  font-size: medium;
  margin: 2%;
  width: 10%;
  height: 100%;
  cursor: pointer;
  list-style:none;
}
.tissue input[type="radio"]{
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.tissue:hover{
  background-color: var(--azulEscuro);
  color: var(--branco);
}
.sectionButton{
  display: flex;
  align-items: center;
  justify-content:space-around;
  width: 15%;
  height: 100%;
}
.addItem{
  width: 25%;
  height: 2em;
  border-radius: 5px;
  background-image: url("../../../assets/img/plus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--azulEscuro);
  border: 7px solid var(--azulEscuro);
  cursor: pointer;
}
.removeItem{
  width: 25%;
  height: 2em;
  border-radius: 5px;
  background-image: url("../../../assets/img/minus-sign.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--azulEscuro);
  border: 7px solid var(--azulEscuro);
  cursor: pointer;
}
.buttonsActions{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: var(--branco);
  border-top: 5px solid var(--azulEscuro);
  height: 10%;
  justify-content: space-evenly;
  width: 100%;
}
.buttonClear,.buttonFinish{
  background-color: var(--azulEscuro);
  border: none;
  border-radius: 8px;
  height: 60%;
  width: 10%;
  font-size: 120%;
  color: var(--branco);
  cursor: pointer;
}
