<div class="navigator">
  <div class="nav">
    <a class="profile" href="/home"
      ><p>Home</p>
      <img src="../../assets/img/profile.svg" />
    </a>
  </div>
  <div class="nav">
    <a class="newOrder" href="/realizar-pedido"
      ><p>Novo Pedido</p>
      <img src="../../assets/img/cart.svg"
    /></a>
  </div>
  <div class="nav">
    <a class="searchOrder" href="/listar-pedido"
      ><p>Procurar Pedido</p>
      <img src="../../assets/img/search.svg"
    /></a>
  </div>
  <div class="nav">
    <a class="logout" href="/login"
      ><p>Sair</p>
      <img src="../../assets/img/logout.svg"
    /></a>
  </div>
</div>
