<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/styles.css" />
    <title>Login</title>
</head>
<body>
    <div class="imagem">
        <h1>Lavanderia On-line</h1>
        <img src="../../assets/img/ilustra-lojas.svg" alt="Ilustração de lojas">
    </div>
    <div class="formLogin">
        <form>
            <h2>Entrar</h2>
            <p>Não possui uma conta? <a href="#">Registre-se</a></p>
            <label for="email">email</label><br><input type="email" id="email" name="email" required class="campoForm" placeholder="Email"> <br>
            <label for="senha">senha</label><br><input type="password" id="senha" name="senha" required class="campoForm" placeholder="Senha"> <br>
            <button type="submit" class="botao">Entrar</button>
          </form>
          
    </div>
</body>
</html>