<div class="layout">
    <div class="imagem">
        <h1>Lavanderia On-line</h1>
        <img src="..\..\assets\img\ilustra-lojas.png" alt="Ilustração de lojas">
    </div>
    <div class="formLogin">
        <form>
            <h2>Entrar</h2>
            <p>Não possui uma conta? <a href="#">Registre-se</a></p>
            <label for="email">email</label><br><input type="email" id="email" name="email" required class="campoForm" placeholder="Email"> <br>
            <label for="senha">senha</label><br><input type="password" id="senha" name="senha" required class="campoForm" placeholder="Senha"> <br>
            <button type="submit" class="botao">Entrar</button>
          </form>
          
    </div>
</div>