<div class="container">
  <div class="boxSearch">
    <select
    class="inputSearch"
      type="search"
      [formControl] = "queryField"
      placeholder="Digite a roupa que deseja adicionar..."
    >
      <option value="calca">Calça</option>
      <option value="camisa">Camisa</option>
      <option value="meia">Meia</option>
      <option value="cueca">Cueca</option>
      <option value="camiseta">Camiseta</option>
    </select>

    <button
      class="buttonSearch"
      (click)="onSearch()">
      Adicionar
    </button>
  </div>
  <main>
    <aside class="orderDetails">
      <p>Valor total:</p>
      <P>{{valorTotalFormatado}}</P>
      <p>Tempo previsto</p>
      <p>{{prazoDeEntrega}} Dias</p>
    </aside>
    <div class="listClothes">
      <div *ngFor="let item of listaPedido" class="boxCard">
      <mat-card class="card">
      <img mat-card-image [src]="'../../assets/img/' + 1 + '.png'" class="cardImage">
      <mat-card-content mat-card-content class="description">
        <p>{{item.tipo}}</p>
        <p>Tecido: </p>
        <div class="listTissue">
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>{{item.tecido[0]}}</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>{{item.tecido[1]}}</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>{{item.tecido[2]}}</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Outro</p>
          </label>
        </div>
      </mat-card-content >
        <mat-card-actions class="sectionButton">
          <button onclick="" class="addItem">
          </button>
          <p>0</p>
          <button onclick="" class="removeItem">
          </button>
        </mat-card-actions>
      </mat-card >
    </div>
    </div>
  </main>
  <div class="buttonsActions">
    <button class="buttonClear"(click)="LimparLista()">Limpar</button>
    <button class="buttonFinish"(click)="ButtonAddItem()">Finalizar pedido</button>
  </div>
</div>
