<div class="container">
  <main>
    <mat-card class="card">
      <img mat-card-image src="../../assets/img/calca.png" class="cardImage">
      <mat-card-content mat-card-content class="description">
        <p>Calça</p>
        <p>Tecido: </p>
        <ul class="listTissue">
          <li class="tissue">Jeans</li>
          <li class="tissue">Moletom</li>
          <li class="tissue">Lycra</li>
          <li class="tissue">Outro</li>
        </ul>
      </mat-card-content >
        <mat-card-actions class="sectionButton">
          <button onclick="" class="addItem">
          </button>
          <p>0</p>
          <button onclick="" class="removeItem">
          </button>
        </mat-card-actions>
    </mat-card >
    <mat-card class="card">
      <img mat-card-image src="../../assets/img/camisa.png" class="cardImage">
      <mat-card-content mat-card-content class="description">
        <p>Calça</p>
        <p>Tecido: </p>
        <ul class="listTissue">
          <li class="tissue">Jeans</li>
          <li class="tissue">Moletom</li>
          <li class="tissue">Lycra</li>
          <li class="tissue">Outro</li>
        </ul>
      </mat-card-content >
        <mat-card-actions class="sectionButton">
          <button onclick="" class="addItem">
          </button>
          <p>0</p>
          <button onclick="" class="removeItem">
          </button>
        </mat-card-actions>
    </mat-card >
    <mat-card class="card">
      <img mat-card-image src="../../assets/img/meia.png" class="cardImage">
      <mat-card-content mat-card-content class="description">
        <p>Calça</p>
        <p>Tecido: </p>
        <ul class="listTissue">
          <li class="tissue">Jeans</li>
          <li class="tissue">Moletom</li>
          <li class="tissue">Lycra</li>
          <li class="tissue">Outro</li>
        </ul>
      </mat-card-content >
        <mat-card-actions class="sectionButton">
          <button onclick="" class="addItem">
          </button>
          <p>0</p>
          <button onclick="" class="removeItem">
          </button>
        </mat-card-actions>
    </mat-card >
    <mat-card class="card">
      <img mat-card-image src="../../assets/img/camiseta.png" class="cardImage">
      <mat-card-content mat-card-content class="description">
        <p>Calça</p>
        <p>Tecido: </p>
        <ul class="listTissue">
          <li class="tissue">Jeans</li>
          <li class="tissue">Moletom</li>
          <li class="tissue">Lycra</li>
          <li class="tissue">Outro</li>
        </ul>
      </mat-card-content >
        <mat-card-actions class="sectionButton">
          <button onclick="" class="addItem">
          </button>
          <p>0</p>
          <button onclick="" class="removeItem">
          </button>
        </mat-card-actions>
    </mat-card >
    <mat-card class="card">
      <img mat-card-image src="../../assets/img/cueca.jpg" class="cardImage">
      <mat-card-content mat-card-content class="description">
        <p>Calça</p>
        <p>Tecido: </p>
        <ul class="listTissue">
          <li class="tissue">Jeans</li>
          <li class="tissue">Moletom</li>
          <li class="tissue">Lycra</li>
          <li class="tissue">Outro</li>
        </ul>
      </mat-card-content >
        <mat-card-actions class="sectionButton">
          <button onclick="" class="addItem">
          </button>
          <p>0</p>
          <button onclick="" class="removeItem">
          </button>
        </mat-card-actions>
    </mat-card >
  </main>
  <div class="buttonsActions">
    <button class="buttonClear">Limpar</button>
    <button class="buttonFinish">Finalizar pedido</button>
  </div>
</div>
