<div class="container">
  <div class="boxSearch">
    <input class="inputSearch" type="search" placeholder="Digite a roupa que deseja adicionar..."/>
  </div>
  <main>
    <aside class="orderDetails">
      <p>Valor total:</p>
      <P>R$30</P>
      <p>Tempo previsto</p>
      <p>5 Dias</p>
    </aside>
    <div class="listClothes">
      <mat-card class="card">
      <img mat-card-image src="../../assets/img/calca.png" class="cardImage">
      <mat-card-content mat-card-content class="description">
        <p>Calça</p>
        <p>Tecido: </p>
        <div class="listTissue">
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Jeans</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Moletom</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Elastano</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Outro</p>
          </label>
        </div>
      </mat-card-content >
        <mat-card-actions class="sectionButton">
          <button onclick="" class="addItem">
          </button>
          <p>0</p>
          <button onclick="" class="removeItem">
          </button>
        </mat-card-actions>
      </mat-card >
      <mat-card class="card">
      <img mat-card-image src="../../assets/img/camisa.png" class="cardImage">
      <mat-card-content mat-card-content class="description">
        <p>Calça</p>
        <p>Tecido: </p>
        <div class="listTissue">
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Jeans</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Moletom</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Elastano</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Outro</p>
          </label>
        </div>
      </mat-card-content >
        <mat-card-actions class="sectionButton">
          <button onclick="" class="addItem">
          </button>
          <p>0</p>
          <button onclick="" class="removeItem">
          </button>
        </mat-card-actions>
      </mat-card >
      <mat-card class="card">
      <img mat-card-image src="../../assets/img/meia.png" class="cardImage">
      <mat-card-content mat-card-content class="description">
        <p>Calça</p>
        <p>Tecido: </p>
        <div class="listTissue">
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Jeans</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Moletom</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Elastano</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Outro</p>
          </label>
        </div>
      </mat-card-content >
        <mat-card-actions class="sectionButton">
          <button onclick="" class="addItem">
          </button>
          <p>0</p>
          <button onclick="" class="removeItem">
          </button>
        </mat-card-actions>
      </mat-card >
      <mat-card class="card">
      <img mat-card-image src="../../assets/img/camiseta.png" class="cardImage">
      <mat-card-content mat-card-content class="description">
        <p>Calça</p>
        <p>Tecido: </p>
        <div class="listTissue">
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Jeans</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Moletom</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Elastano</p>
          </label>
          <label class="tissue">
            <input type="radio" value="Jeans"/>
            <p>Outro</p>
          </label>
        </div>
      </mat-card-content >
        <mat-card-actions class="sectionButton">
          <button onclick="" class="addItem">
          </button>
          <p>0</p>
          <button onclick="" class="removeItem">
          </button>
        </mat-card-actions>
      </mat-card >
      <mat-card class="card">
        <img mat-card-image src="../../assets/img/cueca.jpg" class="cardImage">
        <mat-card-content mat-card-content class="description">
          <p>Calça</p>
          <p>Tecido: </p>
          <div class="listTissue">
            <label class="tissue">
              <input type="radio" value="Jeans"/>
              <p>Jeans</p>
            </label>
            <label class="tissue">
              <input type="radio" value="Jeans"/>
              <p>Moletom</p>
            </label>
            <label class="tissue">
              <input type="radio" value="Jeans"/>
              <p>Elastano</p>
            </label>
            <label class="tissue">
              <input type="radio" value="Jeans"/>
              <p>Outro</p>
            </label>
          </div>
        </mat-card-content >
          <mat-card-actions class="sectionButton">
            <button onclick="" class="addItem">
            </button>
            <p>0</p>
            <button onclick="" class="removeItem">
            </button>
          </mat-card-actions>
      </mat-card >
    </div>
  </main>
  <div class="buttonsActions">
    <button class="buttonClear">Limpar</button>
    <button class="buttonFinish">Finalizar pedido</button>
  </div>
</div>
