.container{
  display: flex;
  flex-direction: column;
  padding: 2% 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background-color: var(--branco);
}
main{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  min-height: 80%;
}
.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 25%;
  border: none;
  margin: 2% 0;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.cardImage{
  width: 10%;
  height: 90%;
  border-radius: 8px 0 0 8px;
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
}
.description p {
  margin: 1%;
  font-size: larger;
}
.listTissue{
  display: flex;
  align-items: center;
  height: 15%;
}
.tissue{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--azulClaro);
  border-radius: 10px;
  font-size: medium;
  margin: 2%;
  width: 8%;
  height: 100%;
  cursor: pointer;
  list-style:none;
}
.tissue:hover{
  background-color: var(--azulClaro);
  color: var(--branco);
}
.sectionButton{
  display: flex;
  align-items: center;
  justify-content:space-around;
  width: 15%;
  height: 100%;
}
.addItem{
  width: 25%;
  height: 2em;
  border-radius: 5px;
  background-image: url("../../assets/img/plus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--azulClaro);
  border: 7px solid var(--azulClaro);
  cursor: pointer;
}
.removeItem{
  width: 25%;
  height: 2em;
  border-radius: 5px;
  background-image: url("../../assets/img/minus-sign.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--azulClaro);
  border: 7px solid var(--azulClaro);
  cursor: pointer;
}
.buttonsActions{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: var(--branco);
  border: 1px solid black;
  height: 10%;
  justify-content: space-evenly;
  width: 100%;
}
.buttonClear,.buttonFinish{
  background-color: var(--azulClaro);
  border: none;
  border-radius: 8px;
  height: 60%;
  width: 10%;
  font-size: 120%;
  color: var(--branco);
}
