<app-menu-admin></app-menu-admin>
<div class="layout">
  <div class="content">
    <div class="header">
      <h1 class="hello">Novo tipo de roupa</h1>
    </div>
    <form [formGroup]="FormularioRegistroRoupa" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Tipo</mat-label>
          <input matInput formControlName="tipo" required>
          <mat-error *ngIf="FormularioRegistroRoupa.get('tipo')?.invalid && FormularioRegistroRoupa.get('tipo')?.touched">
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Tempo</mat-label>
          <input matInput formControlName="tempo" required>
          <mat-error *ngIf="FormularioRegistroRoupa.get('tempo')?.invalid && FormularioRegistroRoupa.get('tipo')?.touched">
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
          <mat-icon>save</mat-icon> Salvar
        </button>
        <a mat-raised-button color="secondary" routerLink="/listar-roupa">
          <mat-icon>arrow_back</mat-icon> Voltar
        </a>
      </div>
    </form>
  </div>
</div>
