<app-menu-admin></app-menu-admin>
<div class="layout">
  <div class="content">
    <div class="header">
      <h1 class="hello">Novo tipo de roupa</h1>
    </div>
    <form [formGroup]="FormularioRegistroRoupa" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Tipo</mat-label>
          <input matInput formControlName="tipo" RequiredField>
          <small *ngIf="FormularioRegistroRoupa.get('tipo')?.invalid && FormularioRegistroRoupa.get('tipo')?.touched">
            <div *ngIf="FormularioRegistroRoupa.get('tipo')?.errors?.['RequiredField']">Por favor, preencha o tipo de roupa.</div>
          </small>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Tempo (dias)</mat-label>
          <input matInput formControlName="tempo" RequiredField invalidNumeric>
          <small *ngIf="FormularioRegistroRoupa.get('tempo')?.invalid && FormularioRegistroRoupa.get('tempo')?.touched">
            <div *ngIf="FormularioRegistroRoupa.get('tempo')?.errors?.['RequiredField']">Por favor, preencha o tempo de lavagem.</div>
            <div *ngIf="FormularioRegistroRoupa.get('tempo')?.errors?.['invalidNumeric']">Tempo deve ser numérico</div>
          </small>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Preço</mat-label>
          <input matInput formControlName="preco" RequiredField invalidNumeric>
          <small *ngIf="FormularioRegistroRoupa.get('preco')?.invalid && FormularioRegistroRoupa.get('preco')?.touched">
            <div *ngIf="FormularioRegistroRoupa.get('preco')?.errors?.['RequiredField']">Por favor, preencha o preço da roupa.</div>
            <div *ngIf="FormularioRegistroRoupa.get('preco')?.errors?.['invalidNumeric']">Preço deve ser numerico</div>
          </small>
        </mat-form-field>
      </div>
      <div class="form-group">
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>save</mat-icon> Salvar
        </button>
        <button mat-raised-button color="secondary" type="button"  routerLink="/listar-roupa">
          <mat-icon>arrow_back</mat-icon> Voltar
        </button>
      </div>
    </form>
  </div>
</div>
