<app-menu-lateral></app-menu-lateral>
<div class="layout">
  <div class="content">
    <div class="header">
      <h1 class="hello">Olá,</h1>
      <h2 class="amountOpen">Você tem {{ pedidos.length }} pedidos em aberto</h2>
      <br />
      <label for="consulta">Consulta de Pedido</label><br />
      <input type="number" id="idPedido" name="idPedido" class="campoForm" placeholder="Número do Pedido" #pedidoInput />
      <button type="submit" class="botao" (click)="procurar(pedidoInput.valueAsNumber)">Procurar</button><br />
    </div>

    <div *ngIf="pedidos && pedidos.length > 0; else notFound">
      <table>
        <tr>
          <th>Pedido</th>
          <th>Status</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Prazo</th>
        </tr>
        <tbody>
          <tr *ngFor="let pedido of pedidos">
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.status }}</td>
            <td>{{ pedido.data }}</td>
            <td>{{ pedido.valor | currency:'BRL':'symbol':'1.2-2' }}</td>
            <td>{{ pedido.prazo }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="mostrarDetalhesPedido">
      <h2>Detalhes do Pedido - {{ pedidoSelecionado?.id }}</h2>

      <table>
        <tr>
          <th>Item</th>
          <th>Tecido</th>
          <th>Valor unitário</th>
          <th>Quantidade</th>
          <th>Subtotal</th>
        </tr>
        <tbody>
          <tr *ngFor="let item of pedidoSelecionado?.roupas">
            <td>{{ item.tipo }}</td>
            <td>{{ item.tecido.join(', ') }}</td>
            <td>R$ 10,00</td>
            <td>{{ item.quantidade }}</td>
            <td>R$ {{ 10 * item.quantidade | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #notFound>
      <div *ngIf="!mostrarDetalhesPedido"> 
        <p>Pedido não localizado</p>
      </div>
    </ng-template>

  </div>
</div>
