<h1 mat-dialog-title>Detalhes do Pedido</h1>
<div mat-dialog-content>
  <p><strong>ID:</strong> {{data.id}}</p>
  <p><strong>Data:</strong> {{data.data}}</p>
  <p><strong>Hora:</strong> {{data.hora}}</p>
  <p><strong>Prazo:</strong> {{data.prazo}} dias</p>
  <p><strong>Status:</strong> {{data.status}}</p>
  <div *ngIf="data.roupas && data.roupas.length > 0">
  <P><strong>Roupas no Pedido:</strong></P>
    <ul>
      <li *ngFor="let item of data.roupas">
        <strong>Tipo:</strong> {{item.roupa.tipo}}, 
        <strong>Quantidade:</strong> {{item.quantidade}},
        <strong>Tempo:</strong> {{item.roupa.tempo}} minutos 
      </li>
    </ul>
  </div>
  <p><strong>Preço Total:</strong> {{data.valor | currency:'BRL'}}</p>
</div>
<div mat-dialog-actions>
<button mat-button (click)="closeDialog()">Fechar</button>
</div>

