<div class="layout">
  <div class="imagem">
    <h1>Lavanderia On-line</h1>
    <img src="../../assets/img/ilustra-lojas.svg" alt="Ilustração de lojas" />
  </div>
  <div class="formLogin">
    <h2>Entrar</h2>
    <p>Não possui uma conta? <a href="/registro">Registre-se</a></p>
    <form (ngSubmit)="onSubmit()">
      <label for="email">Email</label><br />
      <input
        type="email"
        id="email"
        name="email"
        class="campoForm"
        placeholder="Digite seu email"
        [(ngModel)]="email"
        #emailInput="ngModel"
        EmailValid
      />
      <br />
      <small *ngIf="emailInput.dirty || emailInput.touched" class="erro">
        <div [hidden]="!emailInput.errors?.['EmailValid']">
          Por favor, preencha com um email válido.
        </div>
      </small>

      <label for="senha">Senha</label><br />
      <input
        type="password"
        id="senha"
        name="senha"
        class="campoForm"
        placeholder="Digite sua senha"
        minlength="4"
        maxlength="4"
        [(ngModel)]="senha"
        #senhaInput="ngModel"
        invalidNumeric
      />
      <br />
      <small *ngIf="senhaInput.dirty || senhaInput.touched" class="erro">
        <div [hidden]="!senhaInput.errors?.['invalidNumeric']">
          Senha inválida. Preencha com sua senha numérica.
        </div>
      </small>

      <button type="submit" class="botao">Entrar</button>
    </form>
  </div>
</div>
