<div class="layout">
  <div class="imagem">
    <h1>Lavanderia On-line</h1>
    <img src="../../assets/img/ilustra-lojas.svg" alt="Ilustração de lojas" />
  </div>
  <div class="formLogin">
    <h2>Entrar</h2>
    <p>Não possui uma conta? <a routerLink="/registro">Registre-se</a></p>
    <label for="email">email</label><br /><input
      type="email"
      id="email"
      name="email"
      class="campoForm"
      placeholder="Email"
      EmailValid
      [ngModel]="cliente.email"
      #email="ngModel"
    />
    <br />
    <small *ngIf="email.errors && (email.dirty || email.touched)">
      <div [hidden]="!email.errors?.['EmailValid']" class="erro">
        Por favor preencha com um e-mail válido
      </div>
    </small>
    <label for="senha">senha</label><br /><input
      type="password"
      id="senha"
      name="senha"
      class="campoForm"
      placeholder="Senha"
    />
    <br />
    <small>
      <div class="erro">Por favor preencha a senha</div>
      <div class="erro">Por favor preencha senha de 4 caracteres</div>
      <div class="erro">
        Caracter inválido. Favor preencha com sua senha numérica
      </div>
    </small>
    <button type="submit" class="botao" routerLink="/home">Entrar</button>
  </div>
</div>
