.imagem {
    text-align: center;
    align-items: center;
    color: var(--branco);
    width: 50vw;
    background-color: var(--azulEscuro);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.imagem h1{
  font-size: xx-large;
  margin-bottom: 10%;
}
.imagem img{
  width: 30vw;
}
.formLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 45vw;
    background-color: var(--branco);
    text-align: left;
    padding-left: 5vw;
}
.formLogin p, .formLogin label{
  font-size: larger;
}
.campoForm {
    background-color: var(--branco);
    text-align: left;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 5px;
    width: 30vw;
    padding: 1vw;
    border: 0.2vw solid var(--cinza);
}

.botao {
    font-size: clamp(10px, 4vh, 20px);
    border-radius: 5px;
    width: 32.5vw;
    padding: 1vh;
}

.erro {
    color: red;
    font-weight: bold;
}
