<app-menu-admin></app-menu-admin>
<div class="layout">
  <div class="content">
    <div class="header">
      <h1 class="hello">Editar Funcionário</h1>
      <div *ngIf="mensagem.length > 0">
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
          <h4 class="alert-heading">{{ mensagem }}</h4>
          <p>{{ mensagem_detalhes }}</p>
          <button type="button" class="btn-close" (click)="mensagem = ''" aria-label="Close"></button>
        </div>
      </div>
    </div>
    <form #formFuncionario="ngForm" (ngSubmit)="salvar()">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput type="text" placeholder="Digite seu nome" [(ngModel)]="funcionario.nome" name="nome" required>
          <mat-error *ngIf="!funcionario.nome">
            Por favor preencha o nome
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="funcionario.nascimento" name="nascimento" (dateChange)="onDateChange($event)" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="!funcionario.nascimento">
            Digite a data de nascimento.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="funcionario.email" name="email" required>
          <mat-error *ngIf="!formFuncionario.form.controls['email'].valid && formFuncionario.form.controls['email'].touched">
            Digite um email válido.
          </mat-error>
        </mat-form-field>        
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput type="password" [(ngModel)]="funcionario.senha" name="senha" required>
          <mat-error *ngIf="!formFuncionario.form.controls['senha'].valid && formFuncionario.form.controls['senha'].touched">
            Digite a senha.
          </mat-error>
        </mat-form-field>        
      </div>
      <div class="form-group">
        <button mat-raised-button color="primary" type="submit" [disabled]="loading || !formFuncionario.form.valid">
          <ng-container *ngIf="loading; else normalButton">
            <div class="custom-spinner"></div>
          </ng-container>
          <ng-template #normalButton>
            <mat-icon>save</mat-icon> Salvar
          </ng-template>
        </button>
        <button mat-raised-button color="secondary" type="button" routerLink="/listar-funcionario">
          <mat-icon>arrow_back</mat-icon> Voltar
        </button>
      </div>
    </form>
  </div>
</div>
