<app-menu-admin></app-menu-admin>
<div class="layout">
  <div class="content">
    <div class="header">
      <h1 class="hello">Editar Funcionário</h1>
    </div>
    <form [formGroup]="FormularioRegistroFunc" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput type="text" class="campoForm" placeholder="Digite seu nome" formControlName="nome" RequiredField NomeValido id="nome" name="nome" ><br/>
          <small *ngIf="FormularioRegistroFunc.get('nome')?.invalid && (FormularioRegistroFunc.get('nome')?.dirty || FormularioRegistroFunc.get('nome')?.touched)">
            <div *ngIf="FormularioRegistroFunc.get('nome')?.errors?.['RequiredField']">Por favor preencha o nome</div>
            <div *ngIf="!FormularioRegistroFunc.get('nome')?.errors?.['RequiredField'] && FormularioRegistroFunc.get('nome')?.errors?.['NomeValido']">
              Por favor preencha com nome e sobrenome
            </div>
          </small>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="nascimento" RequiredField>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <small *ngIf="FormularioRegistroFunc.get('nascimento')?.invalid && FormularioRegistroFunc.get('nascimento')?.touched">
            <div *ngIf="FormularioRegistroFunc.get('nascimento')?.errors?.['RequiredField']">Digite a data de nascimento.</div>
          </small>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" RequiredField EmailValid >
        
          <small *ngIf="FormularioRegistroFunc.get('email')?.invalid && FormularioRegistroFunc.get('email')?.touched">
            <div *ngIf="FormularioRegistroFunc.get('email')?.errors?.['RequiredField']">Digite o email da pessoa.</div>
            <div *ngIf="FormularioRegistroFunc.get('email')?.errors?.['EmailValid']">Digite um email válido.</div>
          </small>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="senha" RequiredField invalidNumeric length4>
          <small *ngIf="FormularioRegistroFunc.get('senha')?.invalid && FormularioRegistroFunc.get('senha')?.touched">
            <div *ngIf="FormularioRegistroFunc.get('senha')?.errors?.['RequiredField']">Digite a senha.</div>
            <div *ngIf="!FormularioRegistroFunc.get('senha')?.errors?.['RequiredField'] && FormularioRegistroFunc.get('senha')?.errors?.['invalidNumeric']">A senha deve ser numérica.</div>
            <div *ngIf="!FormularioRegistroFunc.get('senha')?.errors?.['RequiredField'] && !FormularioRegistroFunc.get('senha')?.errors?.['invalidNumeric'] && FormularioRegistroFunc.get('senha')?.errors?.['length4']">A senha deve conter 4 caracteres.</div>
          </small>
        </mat-form-field>
      </div>
      <div class="form-group">
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>save</mat-icon> Salvar
        </button>
        <button mat-raised-button color="secondary" type="button"  routerLink="/listar-funcionario">
          <mat-icon>arrow_back</mat-icon> Voltar
        </button>
      </div>
    </form>
  </div>
</div>
