<app-menu-lateral *ngIf="verificarUsuario()"></app-menu-lateral>
<app-menu-admin *ngIf="!verificarUsuario()"></app-menu-admin>
<div class="layout">
  <div class="content">
    <div class="header">
      <h1 class="hello">Detalhamento de pedidos</h1>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Pesquisar Pedido</mat-label>
          <input
            matInput
            placeholder="Ex.1234"
            type="number"
            name="idPedido"
            id="idPedido"
            #pedidoInput
          />
        </mat-form-field>
        <button
          mat-fab
          color="primary"
          class="Pesquisar"
          (click)="procurar(pedidoInput.valueAsNumber)"
        >
          <mat-icon>search</mat-icon>
        </button>
        <br />
        <a
          mat-raised-button
          color="primary"
          class="historico"
          *ngIf="verificarUsuario()"
          href="/listar-pedido"
          >Histórico de Pedidos</a
        >
      </form>
    </div>

    <div *ngIf="pedidoSelecionado">
      <table>
        <tr>
          <th>Nº do Pedido</th>
          <th>Status</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Prazo</th>
        </tr>
        <tbody>
          <tr *ngIf="pedidoSelecionado">
            <td>{{ pedidoSelecionado.id }}</td>
            <td>{{ pedidoSelecionado.status }}</td>
            <td>{{ pedidoSelecionado.data }}</td>
            <td>
              {{
                pedidoSelecionado.valor | currency : "BRL" : "symbol" : "1.2-2"
              }}
            </td>
            <td>{{ pedidoSelecionado.prazo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="pedidoSelecionado === null">
      <p>Pedido não localizado</p>
    </div>
    <div *ngIf="pedidoSelecionado">
      <h2>Detalhes do Pedido</h2>
      <table>
        <tr>
          <th>Item</th>
          <th>Valor unitário</th>
          <th>Quantidade</th>
          <th>Subtotal</th>
        </tr>
        <tbody>
          <tr *ngFor="let item of pedidoSelecionado.roupas">
            <td>{{ item.roupa.tipo }}</td>
            <td>R$ {{ item.roupa.precoRoupa | number : "1.2-2" }}</td>
            <td>{{ item.quantidade }}</td>
            <td>R$ {{ item.roupa.precoRoupa * item.quantidade }}</td>
          </tr>
        </tbody>
      </table>
      <tfoot>
          <td>Valor Total:</td>
          <td>R$ {{ getTotalValor() | number : '1.2-2' }}</td>
      </tfoot>
    </div>
  </div>
</div>
