<div class="navigator">
  <div class="nav">
    <a class="searchOrder" href="/listar-adm"
    ><p>Procurar Pedido</p>
      <img src="../../assets/img/search.svg"
    /></a>
  </div>
  <div class="nav">
    <a class="profile"
      ><p>Relatórios</p>
      <img src="../../assets/img/document.svg" />
    </a>
  </div>
  <div class="nav">
    <a class="newOrder" 
      ><p>Funcionarios</p>
      <img src="../../assets/img/staff.svg"
    /></a>
  </div>
  <div class="nav">
    <a class="logout" href="/login"
      ><p>Sair</p>
      <img src="../../assets/img/logout.svg"
    /></a>
  </div>
</div>
