<app-menu-admin></app-menu-admin>
<div class="layout">
  <div class="content">
    <div class="header">
      <h1 class="hello">Funcionários Ativos</h1>
      <div *ngIf="mensagem.length > 0">
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
          <h4 class="alert-heading">{{ mensagem }}</h4>
          <p>{{ mensagem_detalhes }}</p>
          <button type="button" class="btn-close" (click)="mensagem = ''" aria-label="Close"></button>
        </div>
      </div>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Pesquisar Funcionário</mat-label>
          <input
            matInput
            placeholder="Ex.Joao"
            name="nome"
            [(ngModel)]="nome"
          />
        </mat-form-field>
        <button
          mat-fab
          color="primary"
          class="Pesquisar"
          (click)="pesquisarPorNome()"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button
          mat-fab
          routerLink="/inserir-funcionario"
          color="primary"
          class="Adicionar"
        >
          <mat-icon>add</mat-icon>
        </button>
      </form>
    <div>
      <table>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Data de Nascimento</th>
          <th>Ações</th>
        </tr>
        <tbody>
          <tr *ngFor="let funcionario of funcionario">
            <td>{{funcionario.id}}</td>
            <td>{{ funcionario.nome }}</td>
            <td>{{ funcionario.login }}</td>
            <td>{{ funcionario.nascimento }}</td>
            <td>
              <button mat-raised-button 
              color="primary" [routerLink]="['/editar-funcionario', funcionario.id]">
                Editar
              </button>
              <button 
              *ngIf="funcionario.login!='admin.lol@email.com'"
              mat-raised-button color="warn" (click)="remover($event, funcionario)">
                Excluir
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
