
img{
    width: 25%;
  }
  
  .content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    border: 1px;
    background-color: var(--branco);
  }

  .header{
    padding-left: 2%;
    border-bottom: 10px solid var(--azulEscuro);
  
  }
  .botao{
    margin-left: 5px;
  }

  .hello{
    margin-top: 20px;
    padding-right: 50px;
    font-size: clamp(10px, 4vh, 25px);

  }
  .relat{
    margin-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    font-size: clamp(10px, 4vh, 25px);
    
  }
