:root {
    --branco: #ffffff;
    --azulEscuro: #1F283E;
    --azulClaro: #5DC4D2; 
    --cinza: #C0C0C0;
    
}

a {
    color: var(--azulClaro);
    text-decoration: none;
}

.layout {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

body {
  background-color: var(--azulEscuro); 
  margin: 0;
}

.botao {
    color: var(--branco);
    background-color: var(--azulClaro);
    border: none;
}