.imagem {
    text-align: center;
    align-items: center;
    color: var(--branco);
    width: 50vw;
    background-color: var(--azulEscuro);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.imagem h1{
  font-size: x-large;
  margin-bottom: 10%;
}
.imagem img{
  width: 30vw;
}
.formRegistro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 45vw;
    background-color: var(--branco);
    text-align: left;
    padding-left: 5vw;
}
form{
  height: 100%;
  overflow-y:scroll;
  padding-bottom: 2%;
}
.campoForm {
    background-color: var(--branco);
    text-align: left;
    border-radius: 5px;
    width: 30vw;
    padding: 1vw;
    margin: 1% 0;
    border: 0.2vw solid var(--cinza);
}
.campoFormSmall {
    background-color: var(--branco);
    text-align: left;
    border-radius: 5px;
    padding: 1vw;
    margin: 1% 0;
    border: 0.2vw solid var(--cinza);
}
.addressDiv{
    display: grid;
    grid-template-columns:1fr 1.3fr;
}

.botao {
    font-size: clamp(15px, 2vh, 20px);
    border-radius: 5px;
    width: 32.5vw;
    padding: 1.5vh;
    margin: 1% 0;
}

.erro {
    color: red;
    font-weight: bold;
}

input:hover:enabled{
    border-color: var(--azulEscuro);
    transition: 0.5s;
}
