<div class="layout">
    <div class="imagem">
        <h1>Lavanderia On-line</h1>
        <img src="../../assets/img/ilustra-lojas.svg" alt="Ilustração de lojas">
    </div>
    <div class="formRegistro" [formGroup]="FormularioRegistro">
        <form>
            <h2>Registrar</h2>
            <p>Já possui uma conta? <a routerLink="/login">Entrar</a></p>
            <label for="CPF">CPF</label><br><input type="text" id="CPF" name="CPF" class="campoForm" placeholder="XXX.XXX.XXX-XX" length11 invalidNumeric RequiredField formControlName="cpf"> <br>
            <small *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">
                <div *ngIf="cpf.errors?.['RequiredField']" class="erro">Por favor preencha o CPF</div>
                <div *ngIf="!cpf.errors?.['RequiredField'] && cpf.errors?.['invalidNumeric']" class="erro">Por favor preencha apenas números</div>
                <div *ngIf="!cpf.errors?.['RequiredField'] && !cpf.errors?.['invalidNumeric'] && cpf.errors?.['length11']" class="erro">Por favor preencha um CPF válido</div>
            </small>
            <label for="nome">Nome completo</label><br>
            <input type="text" id="nome" name="nome" class="campoForm" placeholder="Digite seu nome" RequiredField NomeValido formControlName="nome"> <br>
            <small *ngIf="nome.invalid && (nome.dirty || nome.touched)">
                <div *ngIf="nome.errors?.['RequiredField']" class="erro">Por favor preencha o nome</div>
                <div *ngIf="!nome.errors?.['RequiredField'] && nome.errors?.['NomeValido']" class="erro">
                    Preencha apenas com caracteres alfabeticos
                  </div>
            </small>
            <label for="email">Email</label><br><input type="email" id="email" name="email" class="campoForm" placeholder="Digite seu email" RequiredField EmailValid formControlName="email"> <br>
            <small *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors?.['RequiredField']" class="erro">Por favor preencha o e-mail</div>
                <div *ngIf="!nome.errors?.['RequiredField'] && email.errors?.['EmailValid']" class="erro">
                    Por favor preencha com um e-mail válido
                  </div>
            </small>
            <label for="endereco">CEP</label><br><input type="number" id="endereco" name="endereco" class="campoForm" placeholder="Digite o Cep" invalidNumeric RequiredField formControlName="endereco" (mouseleave)="validateCEP()"> <br>
            <small *ngIf="endereco.invalid && (endereco.dirty || endereco.touched)">
                <div *ngIf="endereco.errors?.['RequiredField']" class="erro">Por favor preencha o CEP</div>
                <div *ngIf="!nome.errors?.['RequiredField'] && endereco.errors?.['invalidNumeric']" class="erro">Por favor preencha CEP válido</div>
            </small>
            <div class="addressDiv">
                <div class="addressForm">
                    <label for="estado">Estado</label><br><input type="text" [disabled]="true" id="estado" name="estado" class="campoFormSmall" [value]="estado"> <br>
                </div>
                <div class="addressForm">
                  <label for="cidade">Cidade</label><br><input type="text" [disabled]="true" id="cidade" name="cidade" class="campoFormSmall" [value]="cidade"> <br>
              </div>
                <div class="addressForm">
                    <label for="rua">Rua</label><br><input type="text" [disabled]="true" id="rua" name="rua" class="campoFormSmall" [value]="rua"><br>
                </div>
            </div>
            <div class="addressForm">
                <label for="numero">Numero</label><br><input type="number" id="numero" name="numero" invalidNumeric RequiredField class="campoFormSmall" placeholder="N°" formControlName="numero"> <br>
            </div>
            <small *ngIf="numero.invalid && (numero.dirty || numero.touched)">
                <div *ngIf="numero.errors?.['RequiredField']" class="erro">Por favor preencha o Numero</div>
                <div *ngIf="!nome.errors?.['RequiredField'] && numero.errors?.['invalidNumeric']" class="erro">Por favor preencha CEP Valido</div>
            </small>
            <label for="Telefone">Telefone</label><br><input type="text" id="telefone" name="telefone" length11 invalidNumeric  RequiredField class="campoForm" placeholder="(xx)xxxx-xxxx" formControlName="telefone"> <br>
            <small *ngIf="telefone.invalid && (telefone.dirty || telefone.touched)">
                <div *ngIf="telefone.errors?.['RequiredField']" class="erro">Por favor preencha o número de telefone</div>
                <div *ngIf="!nome.errors?.['RequiredField'] && telefone.errors?.['invalidNumeric']" class="erro">Por favor preencha apenas com números</div>
                <div *ngIf="!nome.errors?.['RequiredField'] && !telefone.errors?.['invalidNumeric'] && telefone.errors?.['length11']" class="erro">O número de telefone deve conter o DDD</div>
            </small>
            <button class="botao" (click)="criarCliente()">Continue</button>
          </form>

    </div>
</div>
