<app-menu-lateral></app-menu-lateral>
<div class="layout">
  <div class="content">
    <div class="header">
      <h1>Buscar Pedido</h1>
      <form class="example-form" (ngSubmit)="pesquisarPorNumero()">
        <mat-form-field class="example-full-width">
          <mat-label>Pesquisar Pedido</mat-label>
          <input matInput placeholder="Ex. 11" name="numero" [(ngModel)]="num" />
        </mat-form-field>
        <button
          mat-fab
          color="primary"
          class="Pesquisar"
          type="submit"
        >
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </div>
  </div>
</div>
