<div class="layout">
    <div class="imagem">
        <h1>Lavanderia On-line</h1>
        <img src="..\..\assets\img\ilustra-lojas.png" alt="Ilustração de lojas">
    </div>
    <div class="formLogin">
        <form>
            <h2>Registrar</h2>
            <p>Já possui uma conta? <a href="#">Entrar</a></p>
            <label for="CPF">CPF</label><br><input type="number" id="CPF" name="CPR" required class="campoForm" placeholder="XXX.XXX.XXX-XX"> <br>
            <label for="nome">Nome completo</label><br><input type="text" id="nome" name="nome" required class="campoForm" placeholder="Digite seu nome"> <br>
            <label for="email">Email</label><br><input type="email" id="email" name="email" required class="campoForm" placeholder="Digite seu email"> <br>
            <label for="endereco">Endereço</label><br><input type="text" id="endereco" name="endereco" required class="campoForm" placeholder="Digite seu endereço completo"> <br>
            <label for="Telefone">Telefone</label><br><input type="number" id="telefone" name="telefone" required class="campoForm" placeholder="(xx)xxxx-xxxx"> <br>
            <button type="submit" class="botao">Continue</button>
          </form>
          
    </div>    
</div>
